body {
width: 100%;
background-image: url(klok.jpg);
background-size: 100%;
font-family: 'Architects Daughter', cursive;
margin-top: 10em;
}

.kader {
width: 60%;
height: 100%;
margin: auto;
text-align: center;
}

.homepage {
margin-bottom: -10em;
font-size: 2em;
position:relative;
}

.inspiratie {
max-width: 30%;
margin-bottom: -40em;
margin-left: -35em;
border-radius: 10%;
opacity: 0.80;
}


ul {
margin-top: 60%;
width: 30%;
background-color: grey;
font-size: 1.5em;
}

.linksb {
float: left;
margin-top: -25em;
margin-left: -18em;
}

.linkso {
float: left;
margin-bottom: 10;
margin-left: -10em;
}

.rechtsb {
float: right;
margin-top: -25em;
margin-right: -20em;
}

.rechtso {
float: right;
margin-top: -2em;
margin-right: -30em;
}

a {
text-decoration: none;
color: white;
}

.doctor1 {
float: right;
margin-top: -26em;
margin-right: -33em;
font-size: 1.3em;
color: white;
}

.space1 {
float: right;
margin-top: -26em;
margin-right: -33em;
width: 20em;
font-size: 1.3em;
color: white;
}

.nature1 {
float: right;
margin-top: -26em;
margin-right: -33em;
width: 20em;
font-size: 1.3em;
color: white;
}

.onzichtbaar {
display: none;
}