body {
width: 100%;
background-image: url(klok.jpg);
background-size: 100%;
}

.kader {
width: 60%;
height: 100%;
margin: auto;
text-align: center;
}

.inspiratie {
max-width: 30%;
margin-bottom: -40em;
margin-left: -35em;
border-radius: 10%;
opacity: 0.80;
}

ul {
margin-top: 60%;
width: 30%;
background-color: grey;
font-size: 1.5em;
}

.linksb {
float: left;
margin-top: -25em;
margin-left: -18em;
}

.linkso {
float: left;
margin-bottom: 10;
margin-left: -10em;
}

.rechtsb {
float: right;
margin-top: -25em;
margin-right: -20em;
}

.rechtso {
float: right;
margin-top: -2em;
margin-right: -30em;
}


a {
text-decoration: none;
color: white;
}